/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.circularGif {
  width: 300px;       /* Ajusta el tamaño */
  height: 300px;
  border-radius: 50%; /* Lo hace circular */
  object-fit: cover;  /* Para que no se deforme */
  margin-bottom: 1rem;
   
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
